@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap'); */

:root {
    --Primary-color: #1affd1;
    --Secondary-color: #05dff7;
    --Dark-primary: #333;
    --Dark-seconday: #111;
}


/* Base CSS styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ddd;
    color: #333;
    line-height: 1.5;
    min-height: 110vh;
    /* background-image: url(/Resources/Background.jpg);
    position: fixed; */
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
}

p {
    margin: 10px 25px;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Background styling */

.background {
    width: 100%;
    height: 105vh;
    background: url(/Resources/Background.jpg);
    position: fixed;
    z-index: -1;
}

/* Utility styling */

.container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.darkprimary {
    background-color: var(--Dark-primary);
}

.darksecondary {
    background-color: var(--Dark-seconday);
}

/* Navbar styling */

#navbar {
    background-color: var(--Secondary-color);
    color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

#navbar .flex {

}

#navbar .switch {
    width: 60px;
    height: 34px;
    margin: 0px 25px;
    position: relative;
    top: -52px;
    float: right;   
}

#navbar .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#navbar .switch .slider {
    border-radius: 34px;
}

#navbar .switch .slider:before {
    border-radius: 50px;
}

#navbar .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#navbar .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#navbar input:checked + .slider {
    background-color: var(--Secondary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#navbar a {
    color: #fff;
}

/* About section styling */

#about {
    width: 100%;
    background: #aaa;
    position:relative;
    top: 70px;
    margin:0 auto;
    text-align: center;
}

#about .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about img {
    min-width: 150px;
    max-width: 15%;
    margin: 50px 0 25px 0;
}

.introtext h1 {
    font-weight: 900;
    font-size: 36pt;
    margin-bottom: 100px;
}

.sol {
    color: var(--Secondary-color);
}

/* Who section styling */

#who {
    position:relative;
    /* top: 70px; */
    margin-top: 120px;
}

#who h1 {
    font-weight: bold;
}

#who .info {
    margin: 50px 0 100px 0;
}

#who .info p {
    font-size: 14pt;
}

/* Footer section styling */

#footer {
    background-color: black;
    color: #fff;
    height: 60px;
    position: relative;
    top: 70px;
}

#footer .flex {
    justify-content: space-between;
}

#footer li {
    margin: 0 20px;
}

/* Media queries */

@media (max-width: 1600px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 600px;
    }
}

@media (max-width: 800px) {

    #about, #who, #footer {
        top: 50px;
    }

    #navbar {
        height: 50px;
    }

    #navbar .switch {
        top: -42px;
    }

    #navbar .flex {
        justify-content: flex-start;
    }

    #navbar h1 {
        font-size: 18pt;
    }

    #navbar h2 {
        display: none;
    }

    #who, #who .right, #who .left {
        text-align: center;
    }

    #footer .flex {
        justify-content: center;
    }

    #footer p {
        display: none;
    }


}

